<%
const items = locals.context.get( 'items' );
%>
<div class="reader js-reader">
    <ul class="reader__ul">
        <% items.forEach(( item ) => { %>
            <%
            const btype = item.getText( 'blog.type' );
            const isStandard = (btype === 'Standard');
            %>
            <li class="reader__li reader__li--<%= btype ? btype.toLowerCase() : 'standard' %>">
                <% if ( btype === 'Feature' ) { %>
                    <%- include( '../partials/blog--feature.html', {item: item} ) %>
                <% } else { %>
                    <%- include( '../partials/blog--standard.html', {item: item} ) %>
                <% } %>
            </li>
        <% }) %>
    </ul>
</div>
