<%
const filters = {
    spaces: [],
    materials: [],
    categories: [],
    statuses: [],
    colors: locals.context.get( 'colors' )
};
const items = locals.context.get( 'items' );
const site = locals.context.get( 'site' );

items.forEach(( doc ) => {
    const cats = doc.getGroup( 'project.categories' );
    const status = doc.getText( 'project.status' );

    if ( status && filters.statuses.indexOf( status ) === -1 ) {
        filters.statuses.push( status );
    }

    if ( cats ) {
        cats.value.forEach(( cat ) => {
            if ( cat.data.category && filters.categories.indexOf( cat.data.category.value ) === -1 ) {
                filters.categories.push( cat.data.category.value );
            }
        });
    }
});

site.data.spaces.forEach(( space ) => {
    filters.spaces.push( space.data.space.value );
});

site.data.materials.forEach(( material ) => {
    filters.materials.push( material.data.material.value );
});
%>
<ul class="filter__col">
    <% filters.categories.forEach(( category ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-category p p--meta a" data-value="<%= category %>" href="/work/?category=<%= category %>"><%= category %></a>
        </li>
    <% }) %>
</ul>
<ul class="filter__col">
    <% filters.statuses.forEach(( status ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-status p p--meta a" data-value="<%= status %>" href="/work/?status=<%= status %>"><%= status %></a>
        </li>
    <% }) %>
</ul>
<ul class="filter__col">
    <% filters.materials.forEach(( material ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-material p p--meta a" data-value="<%= material %>" href="/work/?material=<%= material %>"><%= material %></a>
        </li>
    <% }) %>
</ul>
<ul class="filter__col">
    <% filters.spaces.forEach(( space ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-space p p--meta a" data-value="<%= space %>" href="/work/?space=<%= space %>"><%= space %></a>
        </li>
    <% }) %>
</ul>
<ul class="filter__col">
    <li class="filter__li">
        <a class="filter__a js-filter-navi js-navi--index p p--meta a" href="/index/">Project Index</a>
    </li>
</ul>
<ul class="filter__col">
    <li class="filter__li">
        <div class="p p--meta strong">By Color</div>
    </li>
    <li class="filter__li">
        <% filters.colors.forEach(( color ) => { %>
            <a class="filter__color js-filter-option js-filter-color" style="background-color:<%= color.background %>;" data-value="<%= color.query %>" href="/work/?color=<%= color.query %>"></a>
        <% }) %>
    </li>
</ul>
