<%
const filters = {
    imageTags: locals.context.get( 'imageTags' ),
    colors: locals.context.get( 'colors' ),
    categories: locals.context.get( 'categories' )
};
%>
<div class="filter__label ghost">
    <a class="filter__a js-filter-navi js-navi--index p p--meta a ghost__child" href="/index/">Project Index</a>
</div>

<div class="filter__col">
    <li class="filter__li">
        <div class="js-filter-label p strong is-empty">Filter</div>
    </li>
</div>

<!-- These come from Project Documents > Project Metadata -->
<ul class="filter__col filter__by-category">
    <% filters.categories.forEach(( category ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-category p p--meta a" data-value="<%= category %>" href="/work/?category=<%= category %>"><%= category %></a>
        </li>
    <% }) %>
</ul>

<!-- These come from skylab.config.js -->
<ul class="filter__col filter__by-imagetag">
    <li class="filter__li">
        <div class="p p--meta strong">By Image</div>
    </li>
    <li class="filter__li">
        <% filters.imageTags.forEach(( imageTag ) => { %>
            <li class="filter__li">
                <a class="filter__a js-filter-option js-filter-image p p--meta a" data-value="<%= imageTag %>" href="/work/?image=<%= imageTag %>"><%= imageTag %></a>
            </li>
        <% }) %>
    </li>
</ul>

<!-- These come from skylab.config.js -->
<ul class="filter__col filter__by-color">
    <li class="filter__li">
        <div class="p p--meta strong">By Color</div>
    </li>
    <li class="filter__li">
        <% filters.colors.forEach(( color ) => { %>
            <a class="filter__color js-filter-option js-filter-color" style="background-color:<%= color.background %>;" data-value="<%= color.query %>" href="/work/?color=<%= color.query %>"></a>
        <% }) %>
    </li>
</ul>
