<%
const filters = {
    tags: [],
    categories: [],
    imageTags: locals.context.get( 'imageTags' ),
    colors: locals.context.get( 'colors' )
};
const items = locals.context.get( 'items' );
const site = locals.context.get( 'site' );

items.forEach(( doc ) => {
    const cats = doc.getGroup( 'project.categories' );
    const tags = doc.tags;

    if ( cats ) {
        cats.value.forEach(( cat ) => {
            if ( cat.data.category && filters.categories.indexOf( cat.data.category.value ) === -1 ) {
                filters.categories.push( cat.data.category.value );
            }
        });
    }

    if ( tags ) {
        tags.forEach(( tag ) => {
            if ( tag && filters.tags.indexOf( tag ) === -1 ) {
                filters.tags.push( tag );
            }
        });
    }
});
%>
<ul class="filter__col">
    <li class="filter__li">
        <a class="filter__a js-filter-navi js-navi--index p p--meta a" href="/index/">Project Index</a>
    </li>
</ul>

<!-- These come from Project Documents > Project Metadata -->
<ul class="filter__col filter__by-tag">
    <% filters.tags.forEach(( tag ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-tag p p--meta a" data-value="<%= tag %>" href="/work/?tag=<%= tag %>"><%= tag %></a>
        </li>
    <% }) %>
</ul>

<!-- These come from Project Documents > Project Metadata -->
<ul class="filter__col filter__by-category">
    <% filters.categories.forEach(( category ) => { %>
        <li class="filter__li">
            <a class="filter__a js-filter-option js-filter-category p p--meta a" data-value="<%= category %>" href="/work/?category=<%= category %>"><%= category %></a>
        </li>
    <% }) %>
</ul>

<!-- These come from skylab.config.js -->
<ul class="filter__col filter__by-imagetag">
    <li class="filter__li">
        <div class="p p--meta strong">By Image</div>
    </li>
    <li class="filter__li">
        <% filters.imageTags.forEach(( imageTag ) => { %>
            <li class="filter__li">
                <a class="filter__a js-filter-option js-filter-image p p--meta a" data-value="<%= imageTag %>" href="/work/?image=<%= imageTag %>"><%= imageTag %></a>
            </li>
        <% }) %>
    </li>
</ul>

<!-- These come from skylab.config.js -->
<ul class="filter__col filter__by-color">
    <li class="filter__li">
        <div class="p p--meta strong">By Color</div>
    </li>
    <li class="filter__li">
        <% filters.colors.forEach(( color ) => { %>
            <a class="filter__color js-filter-option js-filter-color" style="background-color:<%= color.background %>;" data-value="<%= color.query %>" href="/work/?color=<%= color.query %>"></a>
        <% }) %>
    </li>
</ul>
