<%
const items = locals.context.get( 'items' );
%>
<% items.forEach(( item ) => { %>
    <%
    const image = item.getImage( 'newbiz.image' );
    %>
    <div class="newbiz -text--right">
        <div class="newbiz__info cms p--meta -grey -column -vtop">
            <%- item.getStructuredText( 'newbiz.info' ).asHtml() %>
        </div>
        <div class="newbiz__image -column -text--left -vtop">
            <div class="person__wrap -square">
                <div class="portrait person__tile -cover js-lazy-image" data-img-src="<%= image.url %>"></div>
            </div>
        </div>
    </div>
<% }) %>
