<%
const items = locals.context.get( 'items' );
%>
<% items.forEach(( item ) => { %>
    <%
    const portrait = item.getImage( 'person.portrait' );
    const portrait2 = item.getImage( 'person.portrait2' );
    const description = item.getStructuredText( 'person.description' );
    %>
    <div class="person -column -column--1of4">
        <div class="person__wrap -square">
            <div class="portrait person__tile -cover js-lazy-image" data-img-src="<%= portrait ? portrait.url : '' %>"></div>
            <div class="portrait2 person__tile -cover js-lazy-image" data-img-src="<%= portrait2 ? portrait2.url : '' %>"></div>
            <div class="index__info center">
                <div class="index__icon icon icon--plus">
                    <span class="vert"></span>
                    <span class="horz"></span>
                </div>
                <div class="index__text p--meta -light">
                    <%- description.asHtml() %>
                </div>
            </div>
        </div>
    </div>
<% }) %>
