<%
const image = item.getImage( 'project.image' );
%>
<div class="project__info -wrap js-scrollninja-info">
    <div class="cms">
        <% if ( item.getText( 'project.title' ) ) { %>
            <h1><%= item.getText( 'project.title' ) %></h1>
        <% } %>
        <% if ( item.getStructuredText( 'project.description' ) ) { %>
            <%- item.getStructuredText( 'project.description' ).asHtml() %>
        <% } %>
    </div>
    <%- include( 'project--info.html', {item: item} ) %>
    <%- include( 'project--paging.html', {item: item} ) %>
</div>
<%- include( 'project--body.html', {item: item} ) %>
