<%
const previous = locals.context.get( 'previous' );
const next = locals.context.get( 'next' );
%>
<div class="cms cms--paging">
    <div class="paging__navi paging__previous p -column -column--2of4">
        <% if ( previous ) { %>
            <a href="/work/<%= previous.uid %>/" class="js-project-previous js-hover" data-thumbnail="<%= previous.getImage( 'project.image' ).url %>" data-ignore-style="hover">
                <span class="icon icon--dir icon--left"></span><span class="-column">Previous</span>
            </a>
        <% } else { %>
            &nbsp;
        <% } %>
    </div>
    <div class="paging__navi paging__next p -column -column--2of4 -text--right">
        <% if ( next ) { %>
            <a href="/work/<%= next.uid %>/" class="js-project-next js-hover" data-thumbnail="<%= next.getImage( 'project.image' ).url %>" data-ignore-style="hover">
                <span class="-column">Next</span><span class="icon icon--dir icon--right"></span></span>
            </a>
        <% } else { %>
            &nbsp;
        <% } %>
    </div>
</div>
