<%
const city = item.getText( `${docType}.city` );
const state = item.getText( `${docType}.state` );
const isFeature = item.getText( `${docType}.type` ) === 'Feature';
const client = item.getText( `${docType}.client` );
const date = item.getDate( `${docType}.date` );
const year = date ? date.getFullYear() : null;
const size = item.getText( `${docType}.size` );
const awards = item.getStructuredText( `${docType}.awards` );
%>
<div class="cms cms--meta meta">
    <% if ( client ) { %>
        <p><strong>Client</strong>: <em><%- client %></em></p>
    <% } %>
    <% if ( city || state ) { %>
        <p><strong>Location</strong>: <em><% if ( city ) { %><%= city %>, <% } %><%= state %></em></p>
    <% } %>
    <% if ( date && year ) { %>
        <p><strong>Completion Date</strong>: <em><%- year %></em></p>
    <% } %>
    <% if ( size ) { %>
        <p><strong>Size</strong>: <em><%- size %></em></p>
    <% } %>
    <% if ( !isFeature && awards ) { %>
        <p><strong>Awards</strong>:</p>
        <em><%- awards.asHtml() %></em>
    <% } %>
</div>
