<%
const ptype = item.getText( `${docType}.type` );
const isStandard = (ptype === 'Standard');
const slices = item.getSliceZone( `${docType}.slices` );
%>

<div class="project__body <%= isStandard ? 'js-scrollninja-body' : '' %>">
    <div class="slices">
        <% if ( slices ) { %>
            <% slices.slices.forEach(( slice ) => { %>
                <div class="slices__slice slices__<%= slice.sliceType %>">
                    <div class="slices__content">
                        <%- include( `../slices/${slice.sliceType}.html`, {slice: slice, item: item} ) %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>
