<%
const image = item.getImage( `${docType}.image` );
const title = item.getText( `${docType}.title` );
const description = item.getStructuredText( `${docType}.description` );
%>
<div class="project__info -wrap js-scrollninja-info">
    <div class="cms">
        <% if ( title ) { %>
            <h1><%= title %></h1>
        <% } %>
        <% if ( description ) { %>
            <%- description.asHtml() %>
        <% } %>
    </div>
    <%- include( 'project--info.html', {item: item, docType: docType, baseSlug: baseSlug} ) %>
    <%- include( 'project--paging.html', {item: item, docType: docType, baseSlug: baseSlug} ) %>
</div>
<%- include( 'project--body.html', {item: item, docType: docType, baseSlug: baseSlug} ) %>
