<%
const items = locals.context.get( 'items' );
const tileset = locals.context.get( 'tileset' );
%>
<% if ( tileset ) { %>
    <div class="tileset js-tileset">
        <ul class="tileset__ul grid">
            <% tileset.forEach(( tile ) => { %>
                <%- include( 'index--tile.html', {tile: tile} ) %>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <div class="index js-index">
        <ul class="index__ul">
            <% items.forEach(( item ) => { %>
                <%- include( 'index--item.html', {item: item} ) %>
            <% }) %>
        </ul>
    </div>
<% } %>
