<menu class="filter js-filter -fzero">
    <div class="filter__label ghost">
        <div class="ghost__child js-filter-label p em"></div>
    </div>
    <ul class="filter__col">
        <% locals.context.get( 'categories' ).forEach(( category ) => { %>
            <li class="filter__li">
                <a class="filter__a js-filter-option js-filter-category p" data-value="<%= category %>" href="?category=<%= category %>"><%= category %></a>
            </li>
        <% }) %>
    </ul>
    <ul class="filter__col">
        <% locals.context.get( 'statuses' ).forEach(( status ) => { %>
            <li class="filter__li">
                <a class="filter__a js-filter-option js-filter-status p" data-value="<%= status %>" href="?status=<%= status %>"><%= status %></a>
            </li>
        <% }) %>
    </ul>
    <ul class="filter__col">
        <li class="filter__li">
            <div class="p">
                <strong>By <span style="color:#8aacdd;">C</span><span style="color:#95bc6a;">o</span><span style="color:#f3e28c;">l</span><span style="color:#d4a56d;">o</span><span style="color:#d4796f;">r</span></strong>
            </div>
        </li>
        <li class="filter__li">
            <% locals.context.get( 'colors' ).forEach(( color ) => { %>
                <a class="filter__color js-filter-option js-filter-color" style="background-color:<%= color.background %>;" data-value="<%= color.query %>" href="?color=<%= color.query %>"></a>
            <% }) %>
        </li>
    </ul>
</menu>
