<% if ( locals.context.get( 'item' ) ) { %>
    <%
    const item = locals.context.get( 'item' );
    const title = item.getText( 'person.title' );
    const description = item.getStructuredText( 'person.description' );
    %>
    <div class="project project--standard js-scrollninja">
        <div class="project__info -wrap js-scrollninja-info">
            <div class="cms -wrap-copy">
                <h1><%= title %></h1>
                <%- description.asHtml() %>
            </div>
        </div>
        <div class="project__body js-scrollninja-body">
            <div class="slices">
                <% if ( item.getSliceZone( 'person.slices' ) ) { %>
                    <% item.getSliceZone( 'person.slices' ).slices.forEach(( slice ) => { %>
                        <div class="slices__slice slices__<%= slice.sliceType %>">
                            <div class="slices__content">
                                <%- include( `../slices/${slice.sliceType}.html`, {slice: slice, item: item} ) %>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
<% } %>
