<% if ( locals.context.get( 'item' ) ) { %>
    <%
    const item = locals.context.get( 'item' );
    const btype = item.getText( 'blog.type' );
    const previous = locals.context.get( 'previous' );
    const next = locals.context.get( 'next' );
    const isStandard = (btype === 'Standard');
    %>
    <div class="project project--<%= btype ? btype.toLowerCase() : 'standard' %> js-project <%= isStandard ? 'js-scrollninja' : '' %>" data-type="<%= btype ? btype.toLowerCase() : 'standard' %>" data-previous="<% if ( previous ) { %>/play/<%= previous.uid %>/<% } %>" data-next="<% if ( next ) { %>/play/<%= next.uid %>/<% } %>">
        <% if ( btype === 'Feature' ) { %>
            <%- include( '../partials/project--feature.html', {item: item, docType: 'blog', baseSlug: 'play'} ) %>
        <% } else { %>
            <%- include( '../partials/project--standard.html', {item: item, docType: 'blog', baseSlug: 'play'} ) %>
        <% } %>
    </div>
<% } else { %>
    <div class="blog js-blog view js-view" data-uid="blog" data-api="/api/play"></div>
<% } %>
