<% if ( locals.context.get( 'item' ) ) { %>
    <% const item = locals.context.get( 'item' ) %>
    <div class="project js-project">
        <div class="project__info -wrap">
            <div class="cms">
                <% if ( item.getText( 'project.title' ) ) { %>
                    <h1><%= item.getText( 'project.title' ) %></h1>
                <% } %>
                <% if ( item.getStructuredText( 'project.description' ) ) { %>
                    <%- item.getStructuredText( 'project.description' ).asHtml() %>
                <% } %>
            </div>
            <div class="meta">
                <% if ( item.getText( 'project.client' ) ) { %>
                    <p><strong>Client</strong>: <em><%- item.getText( 'project.client' ) %></em></p>
                <% } %>
                <% if ( item.getText( 'project.city' ) || item.getText( 'project.state' ) ) { %>
                    <p><strong>Location</strong>: <em><%= item.getText( 'project.city' ) %>, <%= item.getText( 'project.state' ) %></em></p>
                <% } %>
                <% if ( item.getText( 'project.year' ) ) { %>
                    <p><strong>Year</strong>: <em><%- item.getText( 'project.year' ) %></em></p>
                <% } %>
                <% if ( item.getText( 'project.size' ) ) { %>
                    <p><strong>Size</strong>: <em><%- item.getText( 'project.size' ) %></em></p>
                <% } %>
                <% if ( item.getStructuredText( 'project.awards' ) ) { %>
                    <p><strong>Awards</strong>:</p>
                    <em><%- item.getStructuredText( 'project.awards' ).asHtml() %></em>
                <% } %>
            </div>
        </div>
        <div class="project__body">
            <div class="slices cms">
                <% if ( item.getSliceZone( 'project.slices' ) ) { %>
                    <% item.getSliceZone( 'project.slices' ).slices.forEach(( slice ) => { %>
                        <div class="slices__slice slices__<%= slice.sliceType %> animate js-animate">
                            <div class="slices__content">
                                <%- include( `../slices/${slice.sliceType}.html`, {slice: slice} ) %>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
<% } else if ( locals.context.get( 'items' ) ) { %>
    <%- include( '../partials/index.html' ) %>
<% } %>
