<% if ( locals.context.get( 'item' ) ) { %>
    <%
    const item = locals.context.get( 'item' );
    const ptype = item.getText( 'project.type' );
    const previous = locals.context.get( 'previous' );
    const next = locals.context.get( 'next' );
    %>
    <div class="project project--<%= ptype.toLowerCase() %> js-project animate js-animate js-animate--intro" data-type="<% if ( ptype ) { %><%= ptype.toLowerCase() %><% } %>" data-previous="<% if ( previous ) { %><%= locals.context.getUrl( previous ) %><% } %>" data-next="<% if ( next ) { %><%= locals.context.getUrl( next ) %><% } %>">
        <% if ( ptype === 'Feature' ) { %>
            <%- include( '../partials/project--feature.html', {item: item} ) %>
        <% } else { %>
            <%- include( '../partials/project--standard.html', {item: item} ) %>
        <% } %>

    </div>
<% } else if ( locals.context.get( 'items' ) ) { %>
    <%- include( '../partials/index.html' ) %>
<% } %>
