<% if ( locals.context.get( 'item' ) ) { %>
    <%
    const item = locals.context.get( 'item' );
    const ptype = item.getText( 'project.type' );
    const previous = locals.context.get( 'previous' );
    const next = locals.context.get( 'next' );
    const isStandard = (ptype === 'Standard');
    %>
    <div class="project project--<%= ptype ? ptype.toLowerCase() : 'standard' %> js-project <%= isStandard ? 'js-scrollninja' : '' %>" data-type="<%= ptype ? ptype.toLowerCase() : 'standard' %>" data-previous="<% if ( previous ) { %>/work/<%= previous.uid %>/<% } %>" data-next="<% if ( next ) { %>/work/<%= next.uid %>/<% } %>">
        <% if ( ptype === 'Feature' ) { %>
            <%- include( '../partials/project--feature.html', {item: item, docType: 'project', baseSlug: 'work'} ) %>
        <% } else { %>
            <%- include( '../partials/project--standard.html', {item: item, docType: 'project', baseSlug: 'work'} ) %>
        <% } %>
    </div>
<% } else { %>
    <div class="work js-work view js-view" data-uid="project" data-api="/api/work"></div>
<% } %>
