/******************************************************************************
 * Font Declarations
*******************************************************************************/

// BrownRegular
@font-face {
    font-family: $font-family;
    src: url( "/fonts/Brown-Regular.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
// BrownBold
@font-face {
    font-family: $font-family-bold;
    src: url( "/fonts/lineto-brown-bold.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
// BrownBackSlanted
@font-face {
    font-family: $font-family-backslanted;
    src: url( "/fonts/Brown-Regular-Backslanted.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
