/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p,
.li,
.cms li {
    font-size: $p-size;
    line-height: 1.7;

    a {
        border-bottom: 1px solid inherit;
        @include font-family-bold();
        }
    strong {
        @include font-family-bold();
        }
    }
.li,
.cms li {
    line-height: 1.5;
    }
.em,
.cms em {
    @include em();
    }
.strong {
    @include font-family-bold();
    }
.meta p,
.meta li {
    color: $grey-text;
    font-size: $m-size;
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a,
.cms a{
    border-bottom: 1px solid transparent;
    transition: border-bottom-color $fast-duration $ease;
    @include a();

    &:hover {
        border-bottom-color: $black;
        }
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
    }
.h2,
.cms h2 {
    @include h2();
    }
.h3,
.cms h3 {
    @include h3();
    }
.h4,
.cms h4 {
    @include h4();
    }
.h5,
.cms h5 {
    @include h5();
    }
.h6,
.cms h6 {
    @include h6();
    }
