/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p,
.li,
.cms li {
    font-size: $p-size;
    line-height: 1.7;

    strong {
        @include font-family-bold();
        }
    }
.p--meta {
    font-size: $m-size;
    line-height: 2;
    }
.ul .li,
.cms ul li {
    list-style: disc;
    }
.ol .li,
.cms ol li {
    list-style: decimal;
    }
.em,
.cms em {
    @include em();
    }
.strong {
    @include font-family-bold();
    }
.meta,
.meta p,
.meta li {
    color: $grey-text;
    font-size: $m-size;
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a,
.cms a:not( [data-ignore-style="hover"] ) {
    transition: color $fast-duration $ease;

    &.is-active {
        color: $gold;
        }
}


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
    }
.h2,
.cms h2 {
    @include h2();
    }
.h3,
.cms h3 {
    @include h3();
    }
.h4,
.cms h4 {
    @include h4();
    }
.h5,
.cms h5 {
    @include h5();
    }
.h6,
.cms h6 {
    @include h6();
    }
