<%
const group = slice.value.toArray()[ 0 ];
const image = group.getImage( 'image' );
const background = group.getImage( 'background' );
const imagePos = group.getText( 'imagePosition' );
const colorStyle = group.getText( 'colorStyle' );
%>
<div class="cover cover--base <%= colorStyle ? `js-color -theme--${colorStyle.toLowerCase()}` : '' %> js-parallax -text--<%= imagePos.toLowerCase() %> ghost" data-color="<%= colorStyle ? colorStyle.toLowerCase() : '' %>">
    <div class="ghost__child -full">
        <% if ( background ) { %>
            <div class="cover__fill cover__background js-parallax-background -cover js-lazy-image" data-img-src="<%= background.url %>"></div>
        <% } %>
        <div class="js-parallax-image -wrap-static">
            <div class="tile__wrap" style="padding-bottom:<%= locals.context.getMediaAspect( image.main ) %>;">
                <img class="tile__photo image js-lazy-image" data-img-src="<%= image.url %>" />
            </div>
        </div>
    </div>
</div>
