<%
const group = slice.value.toArray()[ 0 ];
const poster = group.getImage( 'poster' );
const video = group.getLink( 'video' );
%>
<div class="video js-video -wrap-image -text--center">
    <div class="video__wrap tile__wrap js-video-wrap">
        <video class="video__node js-video-node" data-src="<%= video.value.file.url %>"></video>
        <div class="video__poster js-video-poster js-lazy-image -cover" data-img-src="<%= poster.url %>"></div>
        <div class="video__play ghost">
            <div class="ghost__child">
                <div class="video__play__btn ghost">
                    <div class="video__play__btn__icon icon icon--play">
                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 17.2 20.6" xml:space="preserve"><polygon points="0 0 0 20.6 17.2 10.3 "></polygon></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="video__scrubber js-video-scrubber ghost">
            <div class="video__bar js-video-bar">
                <div class="video__fill js-video-fill"></div>
            </div>
            <div class="video__info ghost__child">
                <div class="video__meta video__box -text--left">
                    <div class="video__title video__box">&nbsp;</div>
                    <div class="video__time video__box js-video-time">&nbsp;</div>
                    <div class="video__duration video__box js-video-duration">&nbsp;</div>
                </div>
                <div class="video__controls video__box -text--right">
                    <div class="video__sound js-video-sound video__box icon icon--sound">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 19.6 17.6" xml:space="preserve"><path d="M15 8.8c0-1.7-1.4-3.2-2.8-3.5v7C13.5 11.9 15 10.5 15 8.8zM12.1 0v2.2c2.8 0.7 5.3 3.4 5.3 6.6 0 3.2-2.5 6-5.3 6.6v2.2c4.3-0.7 7.5-4.4 7.5-8.8C19.6 4.4 16.4 0.7 12.1 0zM0 5.6v7.1h4.8l5.2 4.6V0.2L4.8 5.6H0z"></path></svg>
                    </div>
                    <div class="video__fs js-video-fs video__box icon icon--fs">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 17 17" xml:space="preserve"><path d="M2.7 14.2V7.9H0V17h9.1l0-2.7H2.7zM7.9 0v2.7l6.4 0v6.4l2.7 0V0H7.9z"></path></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
