/******************************************************************************
 * Animations
*******************************************************************************/
.animate {
    opacity: 0;
    transition: opacity $fast-duration $ease;

    &.is-animate {
        opacity: 1;
        }
}
.animate-lift {
    opacity: 0;
    transform: translate3d( 0, $expander-three, 0 );
    transition: transform $fast-duration $ease,
                opacity $fast-duration $ease;

    &.is-animate {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
}
.animate--slow {
    transition-duration: 1000ms;
    }
