/******************************************************************************
 * Classes
*******************************************************************************/
.header {
    height: $header-height;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_05;

    .header__icon {
        pointer-events: auto;
        }
}
.navi {
    background-color: transparent;

    &.is-active {
        pointer-events: none;

        .navi__ul {
            pointer-events: auto;
            }
        .navi__li {
            opacity: 1;
            transform: translateY( 0 );
            }
        .navi__a.is-active:after {
            top: 50%;
            }
    }
    &.is-closing {
        .navi__a.is-active:after {
            top: 50%;
            }
        .navi__li {
            opacity: 1;
            transform: translateY( 0 );
            }
    }
}
.navi__li {
    opacity: 0;
    transform: translateY( 100% );
    transition: transform $base-duration $ease-bounce,
                opacity $base-duration $ease;

    &:nth-child( 2 ) {
        transition-delay: 32ms;
        }
    &:nth-child( 3 ) {
        transition-delay: 64ms;
        }
}
.navi__a {
    font-size: 20vh;
    font-weight: bold;
    line-height: 1.2;
    position: relative;

    &:after {
        background-color: $white;
        content: "";
        display: inline-block;
        height: 30px;
        left: 0;
        position: absolute;
        top: 100%;
        transition: top $long-duration $ease-bounce,
                    transform $fast-duration $ease-bounce;
        width: 100%;
        }
}
.main {
    overflow-x: hidden;
    padding-top: $header-height;
    transition: opacity $fast-duration $ease;

    &.is-inactive {
        opacity: 0;
        pointer-events: none;
        }
}
.footer {}
.intro {}
.intro__logo {
    width: $logo-width;
    max-width: 100%;
    }
.index {}
.index__col + .index__col {
    padding-left: $padding-wrap;
    }
.index__li {
    border-top: 1px solid $charcoal;
    transition: border-color $base-duration $ease;
    }
.project {}
.project__info,
.project__body {
    padding-bottom: $header-height;
    }
.project__info {
    left: 0;
    padding-top: $header-height;
    position: fixed;
    top: 0;
    @include wrap-copy();
    z-index: $z_layer_02;
    }
.project__body {
    padding-right: $padding-wrap;
    position: relative;
    text-align: right;
    z-index: $z_layer_01;
}
.slices__slice {
    width: 100%;
    }
.slices__slice + .slices__slice {
    margin-top: $expander-one;
    }
.slices__text {
    text-align: left;
    }
.slices__content {
    display: inline-block;
    width: calc( 100vw - #{$padding-wrap} - #{$wrap-copy} );
    }
.slices__image {
    min-height: 20vh;
    }
.slices__image[data-imageloader] {
    min-height: 0;
    }
.cms {
    p + p,
    h1 + p {
        margin-top: $expander-mobile;
        }
}
.cms + .meta {
    margin-top: $expander-mobile;
    }
.theme {
    bottom: 0;
    height: $header-height;
    pointer-events: none;
    position: fixed;
    right: 0;
    z-index: $z_layer_05;
    }
.theme__spot {
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    pointer-events: auto;
    width: 16px;

    &.is-light {
        background-color: $white;
        border: 2px solid transparent;
        }
    &.is-dark {
        background-color: $black;
        border: 2px solid $white;
        margin-left: 12px;
        }
    }
