.cms {
    p + p,
    h1 + p {
        margin-top: $expander-mobile;
        }
}
.cms + .meta {
    margin-top: $expander-mobile;
    }
.meta + .paging {
    margin-top: $expander-one;
    }
.paging {
    margin-left: -20px;
    }
