.feature {}
.feature__li + .feature__li {
    margin-top: -$expander-one;
    }
.feature__li {
    position: relative;
    }
.feature__li:nth-child( 1n ) {
    opacity: 0.8;
    }
.feature__li:nth-child( 2n ) {
    opacity: 0.5;
    z-index: $z_layer_infront + 1;
    }
.feature__li:nth-child( 3n ) {
    opacity: 1;
    }
