.feature {
    padding-bottom: $header-height;
    }
.feature__li + .feature__li {
    margin-top: -$expander-one;
    }
.feature__li {
    pointer-events: none;
    position: relative;

    .tile__photo {
        transition: opacity $fast-duration $ease;
        transform: translate3d( 0, 0, 0 );
    }
}
.feature__wrap {
    max-width: 40%;
    pointer-events: auto;
    }
