// Menu...
.filter {
    background-color: rgba( 138, 138, 138, 0.15 );
    height: 100%;
    overflow: hidden;
    padding-bottom: $expander-one;
    padding-left: $expander-one;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d( 100%, 0, 0 );
    transition: width $fast-duration $ease,
                transform $fast-duration $ease;
    width: $filter-width;
    -webkit-overflow-scrolling: touch;
    }
.filter__label {
    height: $header-height;
    }
.filter__a {
    cursor: pointer;
    position: relative;
    transition: color $fast-duration $ease;

    &.is-active:before {
        background-color: $white;
        border-radius: 6px;
        content: "";
        height: 6px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate3d( -16px, -70%, 0 );
        width: 6px;
        }
    }
.filter__col + .filter__col {
    padding-top: $expander-one;
    }
.filter__color {
    background-color: $white;
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    width: 20px;
    }
.filter__color + .filter__color {
    margin-left: 10px;
    }
.filter__li {
    display: block;
    width: 100%;
    }
