.header {
    height: $header-height;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_infront + 2;
    transition: width $fast-duration $ease,
                transform $fast-duration $ease;

    .header__icon {
        pointer-events: auto;
        }
}
.header__list,
.header__filter {
    transition: opacity $fast-duration $ease;
    }
.header__svg {
    width: $logo-width-header;

    .svg {
        fill: $white;
        }
}
