.header {
    height: $header-height;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_05;
    transition: padding-right $fast-duration $ease;

    .header__icon {
        pointer-events: auto;
        }
}
.header__list {
    transition: opacity $fast-duration $ease;
    }
.header__logo {
    opacity: 0;
    transform: translateX( -50% );
    transition: opacity $fast-duration $ease;
    width: $logo-width-header;

    .svg {
        fill: $white;
        }
}
