.header {
    height: $header-height;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_05;

    .header__icon {
        pointer-events: auto;
        }
}
.header__logo {
    transform: translateX( -50% );
    width: $logo-width-header;

    .svg {
        fill: $white;
        }
}
