/******************************************************************************
 * Icons
*******************************************************************************/
.icon-wrap {
    cursor: pointer;
    display: inline-block;
    margin: -20px;
    padding: 20px;
    }
.icon {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    text-align: center;
    vertical-align: middle;

    span {
        display: inline-block;
        }
}
.icon--list {
    height: 18px;
    width: 32px;

    span {
        background-color: $grey;
        height: 2px;
        left: 0;
        position: absolute;
        transition: background-color $fast-duration $ease,
                    opacity $fast-duration $ease,
                    transform $fast-duration $ease;
        width: 100%;
        }

    .top {
        top: 0;
        }
    .mid {
        top: 50%;
        transform: translateY( -50% );
        }
    .bot {
        bottom: 0;
        }

    .ex1,
    .ex2 {
        opacity: 0;
        top: 50%;
        transform: translateY( -50% );
        }
}
.icon--filter {
    .glass {
        border: 2px solid $grey;
        border-radius: 100%;
        height: $circle;
        transition: border-color $fast-duration $ease;
        width: $circle;
        }

    .handle {
        background-color: $grey;
        height: 2px;
        left: 0;
        position: absolute;
        transform: translate3d( -100%, -50%, 0 );
        transition: transform $fast-duration $ease,
                    background-color $fast-duration $ease;
        top: 50%;
        width: $circle / 2;
        }
}
.icon--dir {
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    height: 0;
    margin-bottom: -2px;
    transition: border-color $fast-duration $ease;
    width: 0;

    &.icon--left {
        border-right-color: $grey;
        margin-right: 10px;
        }
    &.icon--right {
        border-left-color: $grey;
        margin-left: 10px;
        }
}
@keyframes pressed {
    50% {
        transform: scale( 2 );
        }
}
.icon--keys {
    height: 22px;
    width: 34px;

    span {
        background-color: $grey;
        border-radius: 2px;
        position: absolute;
        height: 10px;
        width: 10px;

        &.is-pressed {
            animation: pressed 200ms 1;
            }

        &:after {
            border-color: transparent;
            border-style: solid;
            border-width: 3px;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
            }
    }

    .up {
        left: 50%;
        opacity: 0.5;
        top: 0;
        margin-left: -5px;

        &:after {
            display: none;
            }
    }
    .left {
        bottom: 0;
        left: 0;

        &:after {
            border-right-color: $black;
            top: 50%;
            transform: translateY( -50% );
            }
    }
    .down {
        bottom: 0;
        left: 50%;
        opacity: 0.5;
        margin-left: -5px;

        &:after {
            display: none;
            }
    }
    .right {
        bottom: 0;
        right: 0;

        &:after {
            border-left-color: $black;
            left: 50%;
            top: 50%;
            transform: translateX( -1px ) translateY( -50% );
            }
    }
}

// Video SVG Icons...
.icon--play {
    svg {
        fill: $white;
        width: 23px;
        }
}
.icon--sound {
    svg {
        fill: $white;
        width: 20px;
        }
}
.icon--fs {
    svg {
        fill: $white;
        width: 17px;
        }
}
