.index__col + .index__col {
    padding-left: $padding-index;
    }



.index__info {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;

    &.left {
        transform: translateX( 100% );
    }
    &.right,
    &.center {
        text-align: left;
    }

    a {
        font-style: italic;
        border-bottom: 1px solid $white;
        }
}
.index__icon {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX( -50% ) translateY( -50% );
}
.index__text {
    padding-top: $expander-mobile;
    opacity: 0;
    transform: translate3d( 0, -8px, 0 );
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease-bounce;
}
