.intro {
    background-color: $white;
    pointer-events: auto;
    z-index: $z_layer_infront + 2;

    &.is-active {
        z-index: $z_layer_infront + 2;
        }
}
.intro__logo {
    max-width: 100%;
    width: $logo-width;
    }
