.main {
    overflow-x: hidden;
    padding-top: $header-height;
    transition: opacity $fast-duration $ease,
                padding-right $fast-duration $ease;

    &.is-inactive {
        opacity: 0;
        pointer-events: none;
        }
}
