.navi {
    background-color: transparent;
    transform-origin: $padding-wrap $expander-mobile;
    transition: opacity $fast-duration $ease,
                z-index $fast-duration $ease,
                visibility $fast-duration $ease,
                transform $fast-duration $ease;

    &.is-active {
        pointer-events: none;

        .navi__ul {
            pointer-events: auto;
            }
        .navi__li {
            opacity: 1;
            transform: translateY( 0 );
            }
        .navi__a.is-active:after {
            top: 50%;
            }
    }
    &.is-closing {
        .navi__a.is-active:after {
            top: 50%;
            }
        .navi__li {
            opacity: 1;
            transform: translateY( 0 );
            }
    }
    &.is-special {
        opacity: 0;
        transform: scale( 0.05 );
    }
}
.navi__li {
    opacity: 0;
    transform: translateY( 100% );
    transition: transform $base-duration $ease-bounce,
                opacity $base-duration $ease;

    &:nth-child( 2 ) {
        transition-delay: 32ms;
        }
    &:nth-child( 3 ) {
        transition-delay: 64ms;
        }
}
.navi__a {}
.navi__li--primary {
    .navi__a {
        font-size: 20vh;
        line-height: 1.2;
        position: relative;
        @include font-family-bold();

        &:after {
            background-color: $white;
            content: "";
            display: inline-block;
            height: 30px;
            left: 0;
            position: absolute;
            top: 100%;
            transition: top $long-duration $ease-bounce,
                        transform $fast-duration $ease-bounce;
            width: 100%;
            }
    }
}
.navi__li--tertiary {
    margin-top: $expander-mobile;
        display: none;

    & + .navi__li--tertiary {
        margin-top: 10px;
        }

    .navi__a {
        font-size: 24px;
        @include em();
        }
}
