.page {
    position: relative;
    }



.section__label {
    padding-left: $padding-wrap;
    padding-right: $padding-wrap;
    width: $wrap-astatic;

    .page & > .cms > p:first-child {
        @include meta();
        }
}
.section__content {
    width: $wrap-static;
    }
.section.-theme--dark {
    .section__label {
        .cms {
            color: $white;
            }
    }
}



.view--career .career {
    padding-right: $expander-one;
    }



.view--person {
    margin-right: -$expander-mobile;

    .person {
        margin-bottom: $expander-mobile;
        padding-right: $expander-mobile;
        position: relative;
        z-index: 1;
        }
    .person__wrap {
        cursor: pointer;
        position: relative;
        }
    .person__tile {
        height: 100%;
        left: 0;
        opacity: 0;
        padding: 0 $expander-mobile;
        position: absolute;
        top: 0;
        transition: opacity $fast-duration $ease,
                    z-index $fast-duration $ease;
        width: 100%;
        z-index: 1;
        }
    .portrait {
        opacity: 1;
        }
    .index__info {
        z-index: 2;
        }
}



.newbiz {
    .person__tile {
        opacity: 1;
        }
}
.newbiz__info {
    padding-right: $expander-mobile;
    }
