.page {
    position: relative;
    }



.section__label {
    padding-left: $padding-wrap;
    padding-right: $padding-wrap;
    width: $wrap-astatic;

    .page & > .cms > p:first-child {
        @include meta();
        }
}
.section__content {
    width: $wrap-static;
    }
.section.-theme--dark {
    .section__label {
        .cms {
            color: $white;
            }
    }
}
.section.section--follow-us {
    padding-top: 0;
}



.view--career {
    .career {
        margin-bottom: $expander-one;
        padding-right: $expander-one;
    }
}



.view--person {
    margin-left: -($expander-mobile / 2);
    margin-right: -($expander-mobile / 2);

    .index__info {
        z-index: 2;
        }
}
.person {
    padding-left: $expander-mobile / 2;
    padding-right: $expander-mobile / 2;
    margin-bottom: $expander-mobile;
    position: relative;
    width: 25%;
    z-index: 1;
    }
.person__wrap {
    cursor: pointer;
    position: relative;
    }
.person__tile {
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 0 $expander-mobile;
    position: absolute;
    top: 0;
    transition: opacity $fast-duration $ease,
                z-index $fast-duration $ease;
    width: 100%;
    z-index: 1;
    }
.portrait {
    opacity: 1;
    }



.newbiz {
    padding-top: 69px;
}
.newbiz__info {
    &.cms:not( .cms--meta ) {
        p + p {
            margin-top: 0;
            }
    }
}



.social {}
.social__link {
    height: 32px;
    width: 32px;

    & + .social__link {
        margin-left: 32px;
        }
}
