.project {}
.project__info {
    left: 0;
    padding-bottom: $header-height;
    padding-top: $header-height + $expander-one;
    position: fixed;
    top: 0;
    transition: opacity $fast-duration $ease;
    @include wrap-copy();
    z-index: $z_layer_02;

    .project--feature & {
        max-width: 60%;
        padding-bottom: 0;
        padding-top: 0;
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
    }
}
.project__body {
    position: relative;
    z-index: $z_layer_01;
    }
