.project {}
.project__info {
    left: 0;
    padding-bottom: $header-height;
    padding-top: $header-height;
    position: fixed;
    top: 0;
    transition: opacity $fast-duration $ease;
    @include wrap-copy();
    z-index: $z_layer_02;

    .project--feature & {
        position: absolute;
    }
}
.project__body {
    position: relative;
    z-index: $z_layer_01;
    }
