.project {
    min-height: 100vh;
    position: relative;
    }
.project__info {
    left: 0;
    padding-bottom: $header-height;
    padding-top: $header-height + $expander-one;
    position: fixed;
    top: 0;
    transition: opacity $fast-duration $ease;
    z-index: 2;

    .project--standard & {
        text-align: left;
        width: $project-body-width;
        }
}
.project__body {
    position: relative;
    z-index: 1;

    .project--standard & {
        display: inline-block;
        text-align: left;
        width: $project-body-width;
        }
}



.project--standard {
    text-align: right;
}



.paging__navi {
    line-height: 1;

    .icon--dir {
        margin-top: -4px;
        }
}



// Thumbnail hovers...
.hover {
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity $fast-duration $ease,
                visibility $fast-duration $ease;
    visibility: hidden;
    width: 100px;
    z-index: $z_layer_header;

    &.is-active {
        opacity: 1;
        visibility: visible;
        }
    }
