.slices__slice {
    width: 100%;
    }
.slices__content {
    .project--feature & {
        width: 100%;
    }
}
.slices__slice {
    .project--feature & {
        padding-bottom: $expander-one;
        padding-top: $expander-one;
    }
}

// Slice Types...
.slices__text {
    text-align: center;
}
.slices__image,
.slices__videoLink,
.slices__videoEmbed {
    text-align: right;

    .project--feature & {
        text-align: center;

        .-wrap-image {
            @include wrap();
            width: 100%;
            }
    }

    .slices__content {
        display: inline-block;
        }
}
.slices__textImage {
    .cms:first-child {
        padding-right: $expander-one;
        }
    .cms:last-child {
        padding-left: $expander-one;
        }
}
.slices__diptych {
    .-column:first-child {
        padding-right: $expander-mobile;
        }
    .-column:last-child {
        padding-left: $expander-mobile;
        }
}
.slices__videoEmbed {}
.slices__videoLink {}
.slices__parallax {}
