.slices__slice {
    position: relative;
    width: 100%;

    .project--feature & {
        padding-bottom: $expander-one;
        padding-top: $expander-one;
        }
}
.slices__content {
    width: 100%;
    }

// Slices with no padding
.slices__map,
.slices__parallax,
.slices__labeledSection,
.project--feature .slices__parallax {
    padding-bottom: 0;
    padding-top: 0;
    }
.slices__parallax + .slices__labeledSection .section {
    padding-top: 0;
    }

// Slice Types...
.slices__parallax {
    .parallax {
        &--right {
            text-align: right;
        }
        &--center {
            text-align: center;
        }
    }
    .parallax__cover {
        left: 0;
        position: absolute;
        top: 0;
    }
    .parallax__image {
        padding-top: $header-height;
    }
    .parallax__copy {
        position: relative;
        text-align: left;
        transform: translateY( -10.7vw );
        z-index: 1;

        .page--studio & {
            color: $black;
            }
    }
    .parallax__info {
        p {
            font-size: $h2-h3-size-small;
            color: $white;
        }
    }
    .parallax__title {
        .cms {
            width: 50vw;
        }
    }
    .parallax__info,
    .parallax__leadin {
        margin-top: $expander-one / 2;
    }
}
.slices__text {
    text-align: center;
}
.slices__image,
.slices__videoLink,
.slices__videoEmbed {
    text-align: right;

    .project--feature & {
        text-align: center;
        }

    .slices__content {
        display: inline-block;
        }
}
.slices__textImage {
    .-text--center:first-child {
        padding-right: $expander-one;
        }
    .-text--center:last-child {
        padding-left: $expander-one;
        }
}
.slices__diptych {
    .-column:first-child {
        padding-right: $expander-mobile;
        }
    .-column:last-child {
        padding-left: $expander-mobile;
        }
}
.slices__map {
    .map {
        display: block;
        padding-bottom: 48.611111111%;
        width: 100%;
        }
    .map__marker {
        width: 160px;

        .svg {
            fill: $black;
            transform: translateX( -50% ) translateY( -50% );
            transition: fill $fast-duration $ease;
            }
    }
    .mapboxgl-ctrl-logo {
        display: none;
        }
}
.slices__videoEmbed {}
.slices__videoLink {}
