.theme {
    bottom: 0;
    height: $header-height;
    pointer-events: none;
    position: fixed;
    right: 0;
    transition: opacity $fast-duration $ease;
    z-index: $z_layer_menu;
    }
.theme__spot {
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    pointer-events: auto;
    width: 12px;

    &.is-light {
        background-color: $grey;
        border: 2px solid transparent;
        }
    &.is-dark {
        background-color: $charcoal;
        border: 2px solid $grey;
        margin-left: 12px;
        }
    }
