/******************************************************************************
 * Fonts
 * BrownRegular
*******************************************************************************/
$font-family: "Theinhardt";
$font-family-bold: "TheinhardtBold";
$font-family-medium: "TheinhardtMd";
$font-family-medium-italic: "TheinhardtMdItalic";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$charcoal: #333;
$medium: #555;
$white: #fff;
$grey: #eee;
$grey-text: #555;
$grey-fill: rgba( 189, 189, 189, 0.5 );



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-one: 80px;
$expander-two: 160px;
$expander-three: 240px;
$expander-mobile: 40px;
$padding-index: 10vw;
$padding-wrap: 5vw;



/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 700px;
$wrap-static: 62vw;
$logo-width: 240px;
$logo-width-header: 70px;
$header-height: 160px;
$circle: 24px;
$filter-width: 320px;
$navi-strikethrough: 2vh;
$scrub: 70px;
$stroke: 2px;




/******************************************************************************
 * Typography
*******************************************************************************/
$h1-size: 12vw;
$h1-size-small: 64px;
$h1-line: 0.7666666;
$h1-tracking: -5px;
$h2-size: 35px;
$h2-line: 1.5;
$h3-size: 35px;
$h3-line: 1.5;
$h4-size: $h3-size;
$h4-line: $h3-line;
$h5-size: $h3-size;
$h5-line: $h3-line;
$h6-size: $h3-size;
$h6-line: $h3-line;
$p-size: 20px;
$p-line: 1.75;
$m-size: 16px;
$navi-size: 22vh;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$ease-bounce: cubic-bezier( 0.370, 0.005, 0.000, 1.650 );
$ease-soft: cubic-bezier( 0, 0, 0.2, 1 );
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;
