/******************************************************************************
 * Fonts
 * BrownRegular
*******************************************************************************/
// $font-family: "Theinhardt";
// $font-family-bold: "TheinhardtBold";
// $font-family-medium: "TheinhardtMd";
// $font-family-medium-italic: "TheinhardtMdItalic";
$font-family: "FFMarkPro";
$font-family-bold: "FFMarkProBold";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$charcoal: #333;
$medium: #959595;
$white: #fff;
$grey: #eee;
$grey-text: #959595;
$grey-fill: rgba( 189, 189, 189, 0.5 );
$gold: #907f53;
$filter-dark: #151515;
$filter-light: #f9f9f9;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-one: 80px;
$expander-two: 160px;
$expander-three: 240px;
$expander-mobile: 40px;
$padding-index: 12vw;
$padding-wrap: 6vw;
$padding-media: 12vw;
$wrap-copy: 600px;
$wrap-static: 60vw;
$wrap-astatic: 40vw;
$wrap-heading: 700px;
$reader-body-width: 50%;
$project-body-width: 50vw;
$project-info-max-width: 900px;
$project-width-min: $project-info-max-width * 2;



/******************************************************************************
 * Sizes
*******************************************************************************/
$logo-width-intro: 200px;
$logo-width-header: 80px;
$header-height: 160px;
$circle: 24px;
$filter-width: 320px;
$navi-strikethrough: 0.8vh;
$scrub: 70px;
$stroke: 2px;
$dot-size: 12px;




/******************************************************************************
 * Typography
*******************************************************************************/
$h1-size: 16vw;
$h1-line: 0.7666666;
$h1-tracking: -0.3vw;
$h2-size: 35px;
$h2-line: 1.5;
$h3-size: $h2-size;
$h3-line: $h2-line;
$h2-h3-size-small: 24px;
$h4-size: $h3-size;
$h4-line: $h3-line;
$h5-size: $h3-size;
$h5-line: $h3-line;
$h6-size: $h3-size;
$h6-line: $h3-line;
$p-size: 20px;
$p-size-medium: 18px;
$p-size-small: 16px;
$p-line: 1.75;
$m-size: 16px;
$navi-size: 22vh;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$ease-bounce: cubic-bezier( 0.370, 0.005, 0.000, 1.650 );
$ease-soft: cubic-bezier( 0, 0, 0.2, 1 );
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_screen: 1000;
$z_layer_menu: 1002;
$z_layer_header: 1001;
$z_layer_intro: 1003;
