/******************************************************************************
 * Display
*******************************************************************************/
.-exp-2 {
    padding-bottom: $expander-two;
    padding-top: $expander-two;
    }
.-exp-1 {
    padding-bottom: $expander-one;
    padding-top: $expander-one;
    }
.-exp {
    padding-bottom: $expander-mobile;
    padding-top: $expander-mobile;
    }
.-wrap,
// Wrap Media uses min-width media query to increase padding above a certain size: ./_responsive.scss
.-wrap-media {
    @include wrap();
    }
.-wrap-media {
    .project--standard & {
        padding: 0;
        }
}
.-wrap-copy {
    @include wrap-copy();
    }
.-wrap-index {
    @include wrap-index();
    }
.-wrap-static {
    @include wrap-static();
    }
.-wrap-static--right {
    padding-right: $padding-wrap;
    }
.-wrap-static--left {
    padding-left: $padding-wrap;
    }
.-vtop {
    vertical-align: top;
    }
.-vbot {
    vertical-align: bottom;
    }
.-full {
    width: 100%;
    }
.-tall {
    height: 100%;
    }
.-block {
    display: block;
    }
.-skyclip {
    clip-path: polygon( 0 0, 100% 0, 70% 100%, 0 100% );
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-dark {
    color: $black;
    }
.-light {
    color: $white;
    }
.-grey {
    color: $medium;
    }
.-fzero {
    font-size: 0;
    }
