@media only screen and ( max-width: $break-laptop-full ) {
    .-wrap-index {
        @include wrap();
        }
}



@media only screen and ( max-width: $break-laptop-medium ) {
    .video__play__btn {
        height: 64px;
        width: 64px;
        }
    .video__play__btn__icon {
        width: 16px;
        }
}



@media only screen and ( max-width: $break-ipad-pro-width ) {
    .index__col + .index__col {
        padding-left: $padding-index / 2;
        }
    // Type
    .p,
    .cms p,
    .li,
    .cms li {
        font-size: $p-size-medium;
        }

    // Feature project, page covers ( like studio )
    .project--feature .page__cover {
        position: relative;

        .cms {
            position: relative;
            top: auto;
            transform: translateY( -19% );
        }
    }
    .project--feature .slices__slice:first-child .project__cover {
        height: auto;

        .page__parallax {
            transform: none !important;
            width: 100%;
        }
    }
    .page--studio .page__cover {
        height: auto;
        max-width: 100%;
        padding-bottom: $expander-mobile;
        padding-top: $expander-two;
        position: relative;
        width: 100%;

        .cms {
            position: relative;
            top: auto;
            transform: none;
        }
    }
    .page--studio .slices__slice:first-child .project__cover {
        height: auto;

        .page__parallax {
            margin-bottom: $expander-mobile;
            transform: none !important;
            width: 100%;
        }
    }

    // Blog...
    .reader__li--feature {
        .reader__title {
            position: absolute;
            top: 50%;
            transform: translateY( -50% );
        }
        .reader__body,
        .reader__body__wrap {
            position: relative;
            width: 100%;
        }
        .reader__body__wrap {
            transform: none;
        }
    }
}



@media only screen and ( max-width: $break-tablet-full ) {

}



@media only screen and ( max-width: $break-tablet-medium ) {
    .h1,
    .cms h1 {
        letter-spacing: normal;
        }
    .index__image {
        width: 40%;
        }
    .index__title {
        width: 60%;
        }
    .index__categories {
        display: none;
        }
    .index__col + .index__col {
        padding-left: $padding-index;
        }
    .project__info {
        .project--standard & {
            padding-bottom: $expander-one;
            padding-top: $expander-two;
            position: relative;
            width: 100%;

            .cms {
                max-width: $wrap-copy;
                }
            .cms--meta,
            .cms--paging {
                display: none;
                }
        }
    }
    .project__body {
        .project--standard & {
            width: 100%;
        }
    }
    .reader__li--standard {
        .reader__info {
            padding-top: $expander-one;
            position: relative;
            width: 100%;
        }
        .reader__body {
            width: 100%;
        }
    }
    .-wrap-media:not( [data-ignore-style="nopad"] ) {
        padding: 0;
        width: 100%;
        }

    .filter-screen {
        display: block;
        }
    .is-filter-open {
        .main,
        .header {
            transform: translate3d( -$filter-width, 0, 0 );
            width: 100%;
            }
    }
    .slices__text {
        .-wrap-static {
            @include wrap();
            @include wrap-copy();
            }
    }
    .section__label,
    .section__content {
        width: 100%;
        }
    .section__content {
        padding-left: $padding-wrap;
        padding-top: $expander-mobile;
        }
    .view--career .career {
        padding-right: $padding-wrap;
        width: 100%;
        }
    .view--career .career + .career {
        margin-top: $expander-one;
        }
    .person {
        width: 33.333333%;
        }
    .newbiz {
        text-align: left;
        }
}



@media only screen and ( max-width: $break-tablet-small ) {
    // .-wrap,
    // .-wrap-index,
    // .slices__text .-wrap-static,
    // .slices__text .-text--left .-wrap-static,
    // .slices__text .-text--right .-wrap-static {
    //     padding-left: $expander-mobile;
    //     padding-right: $expander-mobile;
    //     }

    $header-height: 100px;
    .header,
    .theme,
    .filter__label {
        height: $header-height;
        }
    .main {
        padding-top: $header-height;
        }
    .project--standard .project__info {
        padding-bottom: $expander-one;
        }
    .project__body {
        padding-bottom: $expander-mobile;
        }
    .index__li {
        padding-bottom: $expander-mobile / 2;
        padding-top: $expander-mobile / 2;
        }
    .index__title .p:nth-child( 2 ),
    .index__title .p:nth-child( 3 ) {
        display: none;
        }
    .navi__li--primary {
        .navi__a {
            font-size: 12vh;

            &:after {
                height: 1.5vh;
                }
        }
    }
    .slices__diptych,
    .slices__textImage {
        .-column {
            display: block;
            width: 100%;
            }
        .-column + .-column {
            margin-top: $expander-mobile;
            }
        .-column:last-child,
        .-column:first-child {
            padding-left: 0;
            padding-right: 0;
            }
    }
    .slices__slice {
        .project--feature &:not( .slices__parallax ) {
            padding-bottom: $expander-mobile / 2;
            padding-top: $expander-mobile / 2;
        }
    }
}



@media only screen and ( max-width: $break-mobile-full ) {
    $filter-width: 75%;

    // Type
    .p,
    .cms p,
    .li,
    .cms li {
        font-size: $p-size-small;
        }
    .h1,
    .cms h1 {
        font-size: 16vw;
        }
    .h2,
    .cms h2,
    .h3,
    .cms h3 {
        font-size: $h2-h3-size-small;
        }
    .filter {
        background-color: $black;
        width: $filter-width;
        }
    .filter__color {
        height: 16px;
        margin-top: 5px;
        width: 16px;
        }
    .filter__color + .filter__color {
        margin-left: 5px;
        }
    .filter__col + .filter__col {
        padding-top: $expander-mobile / 2;
        }
    .is-filter-open {
        .main,
        .header {
            transform: translate3d( -$filter-width, 0, 0 );
            width: 100%;
            }
    }
    .is-theme--light {
        .filter {
            background-color: $white;
            }
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2px;
        padding: 0;
        }
    .grid__item {
        flex-grow: 1;
        margin-bottom: 4px;
        padding-left: 2px;
        padding-right: 2px;
        width: 50%;

        &:last-child {
            margin-bottom: 0
            }
        }
    // .feature__li + .feature__li {
    //     margin-top: -($expander-mobile / 2);
    //     }
    .animate-lift {
        transform: translate3d( 0, $expander-one, 0 );
        }
    .paging {
        display: none;
        }
    .person {
        width: 50%;
        }


    // Project / Page tightening
    .slices__map .map__marker {
        width: 120px;
    }

    .-exp-1,
    .-exp-2 {
        padding-bottom: $expander-mobile;
        padding-top: $expander-mobile;
    }

    .slices__diptych .-column + .-column {
        margin-top: $expander-mobile / 2;
    }

    .person {
        margin-bottom: $expander-mobile / 2;
        padding-right: $expander-mobile / 2;
    }
}



@media only screen and ( min-width: $project-width-min ) {
    .project__info {
        .project--standard & {
            width: $project-info-max-width;
        }
    }
    .project__body {
        .project--standard & {
            width: calc( 100vw - #{$project-info-max-width} );
        }
    }
    .reader__li--standard {
        .reader__info {
            width: $project-info-max-width
        }
        .reader__body {
            width: calc( 100% - #{$project-info-max-width} );
        }
    }
}



@media only screen and ( min-width: $break-laptop-full ) {
    .grid__item {
        width: 25%;
        }
    .-wrap-media {
        @include wrap-media();
        }
    .-wrap-static--right {
        padding-right: $padding-media;
        }
    .-wrap-static--left {
        padding-left: $padding-media;
        }
}



@media only screen and ( min-width: $break-laptop-full ) {
    .grid__item {
        width: 25%;
        }
}



@media only screen and ( min-width: $wrap-copy ) {
    .-wrap-copy {
        max-width: $wrap-copy;
        }
}
