@media only screen and ( max-width: $break-laptop-full ) {
    .-wrap-index {
        @include wrap();
        }
    .project__info {
        max-width: $break-mobile-medium;
        }
    .slices__content {
        width: calc( 100vw - #{$break-mobile-medium} );
        }
    // .navi__li--primary {
    //     .navi__a {
    //         &:after {
    //             height: 20px;
    //             }
    //     }
    // }
}



@media only screen and ( max-width: $break-tablet-medium ) {
    .index__image {
        width: 40%;
        }
    .index__title {
        width: 60%;
        }
    .index__categories {
        display: none;
        }
    .index__col + .index__col {
        padding-left: $padding-index;
        }
    .project__info {
        max-width: $wrap-copy;
        padding-bottom: $expander-one;
        padding-top: 10vh;
        position: relative;
        }
    .slices__content {
        width: 100%;
        }

    .is-filter-open {
        .main,
        .header {
            transform: translate3d( -$filter-width, 0, 0 );
            width: 100%;
            }
    }
}



@media only screen and ( max-width: $break-tablet-small ) {
    .-wrap,
    .-wrap-index {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }

    $header-height: 100px;
    .header,
    .theme,
    .filter__label {
        height: $header-height;
        }
    .main {
        padding-top: $header-height;
        }
    .project__info {
        padding-bottom: $expander-one;
        }

    .index__li {
        padding-bottom: $expander-mobile;
        padding-top: $expander-mobile;
        }
    .index__title .p:nth-child( 2 ),
    .index__title .p:nth-child( 3 ) {
        display: none;
        }

    .navi__li--primary {
        .navi__a {
            font-size: 12vh;

            &:after {
                height: 1.5vh;
                }
        }
    }
}



@media only screen and ( max-width: $break-mobile-full ) {
    $filter-width: 75%;

    .filter {
        width: $filter-width;
        }
    .filter__color {
        height: 16px;
        margin-top: 5px;
        width: 16px;
        }
    .filter__color + .filter__color {
        margin-left: 5px;
        }
    .is-filter-open {
        .main,
        .header {
            transform: translate3d( -$filter-width, 0, 0 );
            width: 100%;
            }
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2px;
        padding: 0;
        }
    .grid__item {
        flex-grow: 1;
        margin-bottom: 4px;
        padding-left: 2px;
        padding-right: 2px;
        width: 50%;

        &:last-child {
            margin-bottom: 0
            }
        }

    .feature__li + .feature__li {
        margin-top: -($expander-mobile / 2);
        }

    .animate-lift {
        transform: translate3d( 0, $expander-one, 0 );
        }
}



@media only screen and ( min-width: $break-laptop-full ) {
    .grid__item {
        width: 25%;
        }
}



@media only screen and ( min-width: $wrap-copy ) {
    .-wrap-copy {
        max-width: $wrap-copy;
        }
}
