@media only screen and ( max-width: $break-laptop-full ) {
    .-wrap-index {
        @include wrap();
        }
    .project__info {
        max-width: $break-mobile-medium;
        }
    .slices__content {
        width: calc( 100vw - #{$break-mobile-medium} );
        }
    // .slices__slice + .slices__slice {
    //     margin-top: $expander-one / 2;
    //     }
}



@media only screen and ( max-width: $break-tablet-medium ) {
    .index__title,
    .index__image {
        width: 50%;
        }
    .index__categories {
        display: none;
        }
    .index__col + .index__col {
        padding-left: $padding-index;
        }
    .project__info {
        max-width: $wrap-copy;
        padding-bottom: $expander-one;
        padding-top: 10vh;
        position: relative;
        }
    .slices__content {
        width: 100%;
        }
    // .slices__slice + .slices__slice {
    //     margin-top: $expander-mobile / 2;
    //     }
}



@media only screen and ( max-width: $break-tablet-small ) {
    .-wrap,
    .-wrap-index {
        padding-left: $expander-mobile;
        padding-right: $expander-mobile;
        }

    $header-height: 100px;
    .header,
    .theme {
        height: $header-height;
        }
    .main {
        padding-top: $header-height;
        }
    .project__info {
        padding-bottom: $expander-one;
        }

    .index__li {
        padding-bottom: $expander-mobile;
        padding-top: $expander-mobile;
        }
    .index__title .p:nth-child( 2 ),
    .index__title .p:nth-child( 3 ) {
        display: none;
        }

    .navi__li--primary {
        .navi__a {
            font-size: 12vh;

            &:after {
                height: 10px;
                }
        }
    }
}



@media only screen and ( min-width: $wrap-copy ) {
    .-wrap-copy {
        max-width: $wrap-copy;
        }
}
