/******************************************************************************
 * Document States
*******************************************************************************/
.is-theme--dark {
    // Defaults
}
.is-theme--light {
    background-color: $white;
    color: $black;

    .icon--list {
        span {
            background-color: $charcoal;
            }
    }
    .icon--filter {
        .glass {
            border-color: $charcoal;
            }
        .handle {
            background-color: $charcoal;
            }
    }
    .icon--dir {
        &.icon--left {
            border-right-color: $charcoal;
            }
        &.icon--right {
            border-left-color: $charcoal;
            }
    }
    .icon--keys {
        span {
            background-color: $charcoal;
            }
        .left:after {
            border-right-color: $white;
            }
        .right:after {
            border-left-color: $white;
            }
    }
    .index__li {
        border-top-color: $grey;
        }
    .navi__a {
        color: $black;

        &:after {
            background-color: $black;
            }
    }
    .theme__spot {
        &.is-light {
            border: 2px solid $charcoal;
            }
        &.is-dark {
            border: 2px solid transparent;
            }
    }
    .header__svg {
        .svg {
            fill: $charcoal;
            }
    }
    .filter {
        background-color: rgba( 138, 138, 138, 0.05 );
        }
}
.is-studio-page,
.is-project-page.is-uid-page,
.is-home-page:not( .is-query ) {
    .main {
        padding-top: 0;
        }
}
.is-project-page.is-uid-page {
    .header__keys {
        display: inline-block;
        transform: translateX( -100% );
        }
}
.is-cover {}
.is-cover--feature {
    .header__list {
        opacity: 0;
        }
    .header__svg {
        display: inline-block;
        }
}
.is-navi-open {
    .icon--list {
        .top,
        .mid,
        .bot {
            opacity: 0;
            }
        .ex1,
        .ex2 {
            opacity: 1;
            }
        .ex1 {
            transform: rotate( -45deg );
            }
        .ex2 {
            transform: rotate( 45deg );
            }
    }
    .project__info {
        opacity: 0.2;
        }
}
.is-filter-open {
    .main,
    .header {
        width: calc( 100vw - #{$filter-width} );
        }
    .header__svg,
    .header__keys {
        display: none !important;
        }
    .filter {
        overflow: auto;
        transform: translate3d( 0, 0, 0 );
        -webkit-overflow-scrolling: touch;
        }
    .icon--filter {
        .handle {
            transform: translate3d( 200%, -50%, 0 );
            }
    }
    .theme {
        opacity: 0;
        pointer-events: none;
        }
}
.is-hoverable {
    .navi__a:not( .is-active ):hover {
        &:after {
            transform: translateY( 100% );
            }
    }
}
.is-touchable {
    .header__keys {
        display: none !important;
        }
}
