/******************************************************************************
 * Document States
*******************************************************************************/
.is-theme--dark {
    // Defaults
}
.is-theme--light {
    background-color: $white;
    color: $black;

    .icon--list {
        span {
            background-color: $charcoal;
            }
    }
    .icon--filter {
        .glass {
            border-color: $charcoal;
            }
        .handle {
            background-color: $charcoal;
            }
    }
    .icon--dir {
        &.icon--left {
            border-right-color: $charcoal;
            }
        &.icon--right {
            border-left-color: $charcoal;
            }
    }
    .icon--keys {
        span {
            background-color: $charcoal;
            }
        .left:after {
            border-right-color: $white;
            }
        .right:after {
            border-left-color: $white;
            }
    }
    .icon--plus {
        .vert,
        .horz {
            background-color: $charcoal;
        }
    }
    .index__li {
        border-top-color: $grey;
        }
    .navi__a {
        color: $black;

        &:after {
            background-color: $black;
            }
    }
    .theme__spot {
        &.is-light {
            border: 2px solid $charcoal;
            }
        &.is-dark {
            border: 2px solid transparent;
            }
    }
    .header__svg {
        .svg {
            fill: $charcoal;
            }
    }
    .filter {
        background-color: $filter-light;
        }
    .view--person {
        .icon--plus .vert,
        .icon--plus .horz {
            background-color: $white;
            }
    }
}
.is-home-page {
    .header__svg {
        display: inline-block;
        }
}
.is-work-page,
.is-play-page,
.is-career-page {
    .fourohfour {
        padding-top: calc( #{$header-height} + #{$expander-mobile} );
    }
}
.is-studio-page {
    .theme {
        display: none;
        }
}
.is-play-page {
    .filter__work {
        display: none;
        }
    .filter__play {
        display: block;
        }
}
//.is-home-page:not( .is-query ),
.is-career-page,
.is-studio-page,
.is-work-page.is-uid-page,
.is-play-page.is-uid-page {
    .main {
        padding-top: 0;
        }
}
.is-play-page.is-uid-page,
.is-work-page.is-uid-page {
    .header__keys {
        display: inline-block;
        transform: translateX( -100% );
        }
}
.is-cover {}
.is-cover--feature {
    .header__svg {
        display: inline-block;
        }
}
.is-navi-open {
    .icon--list {
        .top,
        .mid,
        .bot {
            opacity: 0;
            }
        .ex1,
        .ex2 {
            opacity: 1;
            }
        .ex1 {
            transform: rotate( -45deg );
            }
        .ex2 {
            transform: rotate( 45deg );
            }
    }
    .cms {
        opacity: 0.2;
        }
}
.is-filter-open {
    .header__utility {
        transform: translate3d( -$filter-width, 0, 0 );
        }
    .header__svg,
    .header__keys {
        display: none !important;
        }
    .filter {
        overflow: auto;
        transform: translate3d( 0, 0, 0 );
        -webkit-overflow-scrolling: touch;
        }
    .icon--filter {
        .handle {
            transform: translate3d( 200%, -50%, 0 );
            }
    }
    .theme {
        opacity: 0;
        pointer-events: none;
        }
}
.is-hoverable {
    .navi__a:not( .is-active ):hover {
        &:after {
            transform: translateX( -50% ) translateY( 100% );
            }
    }
    .a:hover,
    .cms a:not( [data-ignore-style="hover"] ):hover {
        color: $gold;
        }
    .filter__color:hover {
        transform: scale( 1.2 );
        }
    .slices__map {
        .map__marker {
            .svg:hover {
                fill: $gold;
                }
        }
    }
    .feature__li:hover {
        z-index: $z_layer_menu + 1;

        .index__text {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
            }
        .icon--plus {
            height: 32px;
            width: 32px;
            }
        .tile__photo {
            opacity: 0.9;
            }
    }
    .tileset__li:hover {
        z-index: 2;

        .index__text {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
            }
        .icon--plus {
            height: 32px;
            width: 32px;
            }
    }
    .index__info a:hover {
        border-bottom-color: $gold;
        }
    .view--person {
        .person:hover {
            z-index: 2;

            .portrait2,
            .description {
                opacity: 1;
                }

            .index__text {
                opacity: 1;
                transform: translate3d( 0, 0, 0 );
                }
            .icon--plus {
                height: 32px;
                width: 32px;
                }
        }
    }
}
.is-touchable {
    .header__keys {
        display: none !important;
        }
}
