/******************************************************************************
 * Document States
*******************************************************************************/
.is-theme--dark {
    // Defaults
}
.is-theme--light {
    background-color: $white;
    color: $black;

    .icon--list {
        span {
            background-color: $black;
            }
    }
    .icon--filter {
        .glass {
            border-color: $black;
            }
        .handle {
            background-color: $black;
            }
    }
    .index__li {
        border-top-color: $grey;
        }
    .navi__a {
        color: $black;

        &:after {
            background-color: $black;
            }
    }
    .theme__spot {
        &.is-light {
            border: 2px solid $black;
            }
        &.is-dark {
            border: 2px solid transparent;
            }
    }
    .header__logo {
        .svg {
            fill: $black;
            }
    }
}
.is-home-page.is-cover {
    .main {
        padding-top: 0;
        }
}
.is-project-page.is-uid-page {
    .main {
        padding-top: 0;
        }
    .header__filter {
        opacity: 0;
        pointer-events: none;
        }
}
.is-cover {}
.is-cover--feature {
    .header__list {
        opacity: 0;
        }
    .header__logo {
        opacity: 1;
        }
}
.is-navi-open {
    .icon--list {
        .top,
        .mid,
        .bot {
            opacity: 0;
            }
        .ex1,
        .ex2 {
            opacity: 1;
            }
        .ex1 {
            transform: rotate( -45deg );
            }
        .ex2 {
            transform: rotate( 45deg );
            }
    }
    .project__info {
        opacity: 0.2;
        }
}
.is-filter-open {
    .main,
    .header {
        transform: translate3d( -$filter-width, 0, 0 );
        }
    .header__logo {
        opacity: 0;
        }
    .filter {
        overflow: visible;
        transform: translate3d( 0, 0, 0 );
        }
    .icon--filter {
        .handle {
            transform: translate3d( 200%, -50%, 0 );
            }
    }
}
.is-hoverable {
    .navi__a:not( .is-active ):hover {
        &:after {
            transform: translateY( 100% );
            }
    }
}
